body {
    background-color: aquamarine;
}

#gridContainer{
    height: 500px;
    width: 500px;
    margin: auto;
    display: flex;
    border-top: solid black 1px;
    border-left: solid black 1px;
}

.gridRow,
.gridColumn {
    height: 15px;
    width: 15px;
    margin: 0;
    padding: 0;
}

.gridColumn {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}

.gridRow {
    height: 100%;
    width: 100%;
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}