body {
    background-color: aquamarine;
}

#gridContainer{
    height: 500px;
    width: 500px;
    border-right: solid black 1px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.gridSquare {
    border-left: solid black 1px;
    border-top: solid black 1px;
}

.hoveredIn {
    height: 100%;
    width: 100%;
    background-color: black;
}

